body {
  margin-top: 20px;
}


#screen {
  width: 375px;
  height: 812px;
  background-image: url(images/wallpaper.png);
  background-size: cover;
  border-radius: 45px;
  margin: auto;
  box-shadow:
    0 0 0 8px black,
    0 0 0 10px #B00D23,
    0 0 20px 11px red;
}

.middle {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
